body, html{
	margin: 0;
	
	background-color: #063d6b;
	
}
*{
	font-family: 'Century Gothic', sans-serif;
	color: #FFFFFF;
}

.div-box{
	margin-top: 200px;
	margin-left: 30%;
	margin-right: 30%;
	height: 325px;
	background-color: #3a74a4;
	text-align: center;
}

.div-box h1{
	padding-top: 20px;
}
.login-form{
	margin-left:10%;
	width: 80%;
	text-align: center;
}
.login-form ul {
    padding: 0;
    margin: 0;
	display: block;
	text-align: center;

}
.login-form li {
    display: inline;
}

.login-form input:not([type="submit"]){
	color: #000;
    width: 70%;
    height: 25px;
    background-color: #d8e5ef;
	border: 0
}

.login-form input[type=submit]{
	width: 150px;
	height: 35px;
	font-weight: bold;
	font-size: 100%;
	color:#fff;
	border: 0;
	background-color: #063d6b;
}
