body, html{
	margin: 0;
}

*{
	font-family: 'Century Gothic', sans-serif;
}
.nav {
	background-color: #ff6c00;
	height: 70px;}
.ham {margin: 22px 25px 17px 25px;}
.face {
	margin-top: 3px;
	width: 73%;}
.asc {margin: 42px 15px 39px 19px;}
.everwell-logo {
	width: 60%;
	display: block;
	margin: 0 auto;
	padding-top: 5%;}
.nav-left h1 {
	font-size: 26px;
	margin: 22px 15px 18px 0px;}
li {
	float: left;
	list-style-type: none;}
a {
	text-decoration: none;
	color: #fff;}
.nav-logo {
	width: 50px;
	padding-top: 18%;
	padding-right: 19%;}
.nav-right {
	float: right;
	width: 500px;
}
.body {
	background-color: #ffa766;
	padding: 20px;}
.form-holder{
	background-color: #fff;
	width: 400px;
	border: 3px solid #555;
}	
.name{}
.address{}
.contact{}
.extra{}
/*.left{
	background-color: #fff;
	height: 100%;
	float: left;
	width: 20%;
	border: 3px solid #555;}
.middle {
	float: left;
	width: 40%;
	margin-left: 1%;
}
.calendar {
	background-color: #fff;
	height: 450px;
	margin-bottom: 2%;
	border: 3px solid #555;}
.title {
	background-color: #53535d;
	font-size: 24px;
	display: block;
	color: #fff;
	border: 2px solid #555;}
.logs {
	background-color: #fff;
	height: 445px;
	border: 3px solid #555;}
.right {
	float: left;
	width: 38%;}
.right-left,
.right-right{
	float: left;
	width: 45%;
	background-color: #fff;
	height: 350px;
	margin-left: 3%;
	border: 3px solid #555;}
.right-top,
.right-bottom {
	float: left;
	width: 95.8%;
	background-color: #fff;
	margin-top: 2%;
	margin-left: 3%;
	border: 3px solid #555;
	height: 263px;}
.right-bottom{height: 260px;}*/
@media only screen and (max-width: 1078px){
	.body{height: 1900px;}
	.nav{background-color: red;}	
	.nav-right{display: none;}
	/*.left{
		width: 100%;
		height: 300px;
	}
	.middle{
		width: 101%;
		height: 650px;
		margin-left: 0;
		margin-top: 2%;
	}
	.calendar{height: 300px;}
	.logs{height: 300px;}
	.right{width: 100%;}*/
}
@media only screen and (max-width: 578px){
	.nav-left h1{display: none;}
}
/*slide menu from codrops*/

/* General styles for all menus */
.cbp-spmenu {
	background: #76ab2e;
	position: fixed;}
.cbp-spmenu h3 {
	color: #fff;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #76ab2e;}
.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;}
.cbp-spmenu a:hover {background: #76ab2e;}
.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #fff;
	padding: 1em;}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;}
.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;}
.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -240px;
	top: 70px;
}
.cbp-spmenu-right {right: -240px;}
.cbp-spmenu-left.cbp-spmenu-open {	
	left: -14px;
	top: 70px;
	}
.cbp-spmenu-right.cbp-spmenu-open {right: 0px;}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;}
.cbp-spmenu-push-toright {left: 240px;}
.cbp-spmenu-push-toleft {left: -240px;}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;}
/* Example media queries */
@media screen and (max-width: 55.1875em){
	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;}
	.cbp-spmenu-top {top: -110px;}
	.cbp-spmenu-bottom {bottom: -110px;}}
@media screen and (max-height: 26.375em){
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;}
	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {left: -190px;}
	.cbp-spmenu-right {right: -190px;}
	.cbp-spmenu-push-toright {left: 190px;}
}